# Ignore models
*.keras
*.h5
*.joblib
*.npy
*.pkl

AI/DialogueGenerator/dialogue_generator_model/

# Ignore datasets
*.csv
*.xlsx

# Ignore images
*.png

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore .DS_Store files
.DS_Store

# Ignore the entire env folder
/my_env/