# Ignore models
*.keras
*.h5
*.joblib
*.npy
*.pkl

AI/DialogueGenerator/dialogue_generator_model/

# Ignore datasets
*.csv
*.xlsx

# Ignore images
*.png
*.jpg
*.jpeg
**/*.png
**/*.jpg
**/*.jpeg

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore .DS_Store files
.DS_Store

/AI/DialogueGenerator/my_env
AI/ActionGenerator/my_env
/AI/DialogueGenerator/logs